{% extends 'layout.html' %}

{% block content %}
    <h2 align="center">Login</h2>

    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
            <h2>{{message}}</h2>
        {% endfor %}
      </div>
    {% endif %}

    <form action="/login/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">username</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group"> 
            <label for="">password</label>
            <input type="password" class="form-control" name="password">
        </div>
        
        <input type="submit" value="login" class="btn btn-primary">
    </form>
    {% endblock %}